/* General tags */

body,
html {

  margin: 0px;

}

p {
  margin: auto;
  color: var(--sec-color);
  font-family: Right_Reg;
  letter-spacing: 1px;
}

span {
  font-family: Circluar_Black;
  color: var(--main-color);
  font-size: 110%;
}

legend {
  text-align: center;
  font-family: Right_Light;
  color: white;
}
input {
  color: #cff56a;
}

h1 {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  border: black;
}

* {
  box-sizing: border-box; /* Include padding and border in width/height */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

a:hover {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none !important;
}

/* Cursors */

.pointer {
  cursor: pointer;
}

/* ID tags */

#fade-in-element {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 3s; /* Add a transition for smooth fading */
}

#intro_para {
  font-size: 1.4vw;
  padding-top: 0.5em;
  width: 80%;
  text-align: center;
}

#smile_a {
  position: absolute;
}

/* #wavy {
  background-image: url(/static/photos/wave4.png);
  background-size: contain;
  background-blend-mode:color-dodge;

  background-repeat: no-repeat;
} */

#smile_guy {
  position: absolute;
  padding: 2px;
  width: 60px;
  height: 60px;
  left: 20px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

#text_border {
  border: var(--sec-color);
  border-style: solid;
  border-width: 5px;
  border-radius: 60px;
}

#instructions_fade {
  opacity: 0;
  transition: opacity 1.5s;
}

#results_header {
  margin-left: 0;
}

#browseButton {
  color: var(--sec-color);
  font-weight: bold;
  font-family: Right_Light;
}

#browseButton:hover {
  text-decoration: underline;
  color: white;
}

#submitBtn,
#submitBtn2 {
  display: none;
  margin: auto;
  text-align: center;
  align-items: center;
  font-family: Circluar_Norm;
  font-size: 1.5vw;
  color: black;
  background-color: var(--sec-color);
  margin-top: 30.12px;
  margin-bottom: 8px;
  padding: 8px;
}

#submitBtn2 {
  display: flex;
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 330px;
}

#submitBtn:hover,
#submitBtn2:hover {
  background-color: white;
  color: black;
}

.yearsButton {
  display: flex;
}

#loading-screen {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading-screen p {
  color: #ffffff;
  margin: auto;
  font-size: 2rem;
  font-family: Right_Reg;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
}

/* Class tags */

.thumbnail {
  border-radius: 50%;
  object-fit: cover;
}


.swirl{
  background-image: url(/static/photos/wave.png);
  background-size: contain;
  background-repeat: repeat-y;
 
}

.centered_message {
  justify-content: center;
}

.centered_message p {
  font-size: 40px;
}

.thumbnail:hover {
  border-color: #cff56a;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-bottom: 0px;
}

.years_title {
  font-family: Circluar_Black;
  text-align: center;
}

.year_button {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.years_title {
  font-size: 40px;
}

#homepage_title {
  color: white;
  font-family: Right_Reg;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

#homepage_title:hover {
  color: var(--sec-color);
}

.green {
  color: var(--sec-color);
  font-family: Circluar_Black;
}

.green:hover {
  color: var(--green-color);
}

.button {
  border: var(--sec-color);
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  padding: 2em;
  margin: auto;
}

.S {
  color: white;

}


.go_back_container {
  display: flex;
  justify-content: space-around;
  text-align: center; /* Center the button in the container */
  width: 100%; /* Ensure the container spans full width */
}

.go_back_button {
  display: flex; /* Button takes up only its content's width */
  padding: 10px 20px; /* Add padding around the button */
  font-family: Circluar_Light;
  letter-spacing: -1px;
  color: var(--sec-color);
  cursor: pointer; /* Center the text */
}

.error_message {
  color: #ffffff;
  margin: auto;
  font-size: 2rem;
  font-family: Right_Reg;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
}



.go_back_button a {
  color: var(--sec-color) ;
  font-size: 2.5rem;
}

.go_back_button a:hover {
  color: white; /* Change color on hover */
}

.body_fade {
  opacity: 0;
  transition: opacity 2s;
}

.twosec_font_fade {
  opacity: 0;
  transition: opacity 1.5s; /* Set the transition duration to 1 second */
}

.years_fade {
  opacity: 0;
  transition: opacity 2s;
}

.para {
  color: whitesmoke;
  font-family: Circluar_Norm;
  font-size: 80px;
  text-align: center;
  margin: 10px;
  letter-spacing: -1px;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.flexdiv2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-height: 90%;
  width: 100%;
}

.container,
.container_choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%; /* Use the full width */
  background-color: var(--main-color);
  height: 100%;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--main-color);
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.container3 {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 2000px;
  margin-top: 10px;
}

.container_choices {
  margin-top: 5%;
}

.image_result {
  width: 20vw;
  height: 20vw;
  padding-bottom: 0px;
  object-fit: cover;
  margin-right: 1rem;
}

.image_result:hover {
  border-color: #cff56a;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 0px;
}

.padding {
  padding: 20px;
}

.explanation {
  font-size: 1.6vw;
  color: white;
  font-family: Circluar_Light;
  letter-spacing: normal;
  padding-bottom: 4px;
}

.drop_area {
  border: 2px dashed var(--sec-color);
  font-size: 2vw;
  background-color: var(--main-color);
  color: white;
  font-family: Circluar_Norm;
  padding: 5vw;
  /* Flexbox for centering */
}

.file_list,
.container-list {
  border-color: var(--sec-color);
  border-style: solid;
  border-width: 2.5px;
  border-radius: 60px;
  font-family: Right_Light;
  font-size: 1vw;
  flex-direction: column;
  align-items: center;
  color: var(--sec-color);
  display: none;
  padding: 2em;
  overflow: scroll;
  scrollbar-color: var(--sec-color);
  width: 40%;
  margin: auto;
}

.result_section {
  display: flex;
}

.container-list {
  border: none;
  border-radius: 0px;
  display: flex;
  width: 100%;
}

.year_button > input {
  font-family: Circluar_Norm;
  padding: 12px;
  margin: 4px;
  background-color: white;
  color: var(--main-color);
  font-size: 3vw;
  align-items: center;
  border: none;
}

.year_button > input:hover {
  background-color: var(--sec-color);
  color: var(--main-color); /* Active text color */
}

.year_button > input.active {
  background-color: whitesmoke; /* Active background color */
  color: black; /* Active text color */
  box-shadow: inset 1px 1px 3px var(--main-color);

}

.font_italic {
  color: var(--sec-color);
  font-family: Right_Italic;
  padding: 2rem;
  font-size: 6vw;
}

.heading,
.heading2,
.heading3,
.heading4,
.heading_results {
  color: white;
  font-family: Right_Italic;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  text-decoration-color: var(--sec-color);
  text-decoration-thickness: 3px;
  font-size: 3vw;
  align-items: center;
  text-align: center;
  gap: 0px;
  margin-bottom: .5rem;
}

.heading2 {
  margin-bottom: 0.4em;
  text-align: left;
}

.heading3 {
  text-underline-offset: 10px;
  letter-spacing: -1px;
}

.heading4 {
  font-size: 2vw;
  margin-bottom: 52px;
  margin-right: auto;
  justify-content: flex-start;
}

.heading_results {
  font-size: 3.6vw;
  margin-bottom: 60px;
  text-align: left;
  margin-right: 0 auto;
  justify-content: left;
}

.background {
  --main-color: #9A7AD6;
  --button-color: rgb(19, 0, 30);
  --main-light-color: #8654ff;
  --sec-color:#cff56a;

  /* 
  --main-color: #6c3af2;
  --button-color: #243194;
  --main-light-color: #8654ff;
  --sec-color: #cff56a; */

  /* --sec-color: #ffffff; */
  background-color: var(--main-color);
}

.custom-navfont {
  font-family: Right_Light;
  color: antiquewhite;
}


.filter_button {
  vertical-align: top;
  background-color: transparent;
}

.filter_button:focus,
a:focus {
  border: none;
  outline: none;
  vertical-align: top;
  background-color: transparent;
}

.releae_title {
  font-family: Right_Norm;
}

.result_text {
  font-family: Circluar;
  font-size: 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.extra_info {
  font-family: Circluar_Light;
  color: white;
  padding-top: 4px;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

.result_text p,
.result_rank {
  font-family: Circluar;
}

.result_rank {
  margin-left: auto;
  color: var(--sec-color);
  font-size: 6vw;
}

.name1,
.name2 {
  margin: 0px;
}

.name1 {
  color: white;
  margin-left: .6vw;
}

.spinner {
  margin-top: 1rem;
  border: 10px solid var(--sec-color);
  border-top: 10px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

/* Custom fonts */

@font-face {
  font-family: Right_Norm;
  src: url(/static/fonts/Right/PPRightGroteskText-WideBold.otf);
}

@font-face {
  font-family: Right_Italic;
  src: url(/static/fonts/Right/PPRightGroteskText-SpatialLightItalic.otf);
}

@font-face {
  font-family: Right_Light;
  src: url(/static/fonts/Right/PPRightGroteskText-Regular.otf);
}

@font-face {
  font-family: Right_Reg;
  src: url(/static/fonts/Right/PPRightGroteskText-Regular.otf);
}

@font-face {
  font-family: Circluar;
  src: url(/static/fonts/Circluar/CircularStd-Black.otf);
}

@font-face {
  font-family: Circluar_It;
  src: url(/static/fonts/Circluar/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: Circluar_Black;
  src: url(/static/fonts/Circluar/CircularStd-Black.otf);
}

@font-face {
  font-family: Circluar_Norm;
  src: url(/static/fonts/Circluar/CircularStd-Medium.otf);
}

@font-face {
  font-family: Circluar_Light;
  src: url(/static/fonts/Circluar/CircularStd-Light.otf);
}

/* Keyframes */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
