{% extends "layout.html" %}

{% block title %}
Page
{% endblock %}



{% block main %}
<div class="font_fade container">
    <form method="post">
        <p>What kind of info are you interested in? </p>
        <div>
        <input class ="padding" type="image" src="/static/photos/artist.png" width="300px" alt="Artists">
        <input class="padding" type="image" src="/static/photos/songs.png" width="300px" alt="Songs">
        <input class= "padding" type="image" src="/static/photos/albums.png" width="300px" alt="Albums">
        </div>
    </form>
</div>

{% endblock %}