{% extends "layout.html" %}

{% block title %}
Page
{% endblock %}

{% if logged_in == True %}
    {% block picture %}
        <a href="{{ profile_link }}" target="_blank"><img class="thumbnail" src="{{ profile_pic }}"></a>
    {% endblock %}

    {% block logout %}
        <a href="/logout" class="logout">logout</a>
    {% endblock %}
{% endif %}




{% block main %}
<div class="container">
    <form method="post">
        <p>What kind of info are you interested in? </p>
        <div>
            <button class="pointer filter_button " type="submit" name="selection" value="Artists"><img class="filter_button_img" src="/static/photos/artist.png" alt="artist"></button>
            <button class="pointer filter_button " type="submit" name="selection" value="Songs"><img class="filter_button_img" src="/static/photos/songs.png" alt="songs"></button>
            <button class="pointer filter_button " type="submit" name="selection" value="Albums"><img class="filter_button_img" src="/static/photos/albums.png" alt="albums"></button>
        </div>
    </form>
</div>

{% endblock %}