{% extends "layout.html" %} {% block title %} Page {% endblock %} {% block main
%}
<!-- Loading screen (initially hidden) -->
<div class="container_choices">
  <div id="loading-screen" style="display: none">
    <p>Loading your Spotify data...</p>
    <div class="spinner"></div>
  </div>

  <form id="filterForm">
    <legend class="heading3">Choose one option:</legend>

    <div class="container-list">
      <ul>
        <li class="year_button">
          <input
            class="twosec_font_fade filter_button pointer"
            type="button"
            value="ARTISTS"
          />
          <input
            class="twosec_font_fade filter_button pointer"
            type="button"
            value="SONGS"
          />
          <input
            class="twosec_font_fade filter_button pointer"
            type="button"
            value="ALBUMS"
          />
        </li>
      </ul>
    </div>

    <!-- Hidden input to store the selected value -->
    <input type="hidden" id="selectionInput" name="selection" value="" />

    <button id="submitBtn2" class="pointer twosec_font_fade" type="submit">
      Go <span style="color: black; font-size: 20px; margin-left: 4px">→</span>
    </button>
  </form>
  <div  id="go_back_container" class="go_back_container">
    <p style="margin-top: auto;"class="go_back_button pointer"><a href="/years">⇦ Back to Years </a></p>
  </div>
</div>

<!-- Your existing JS to handle the selection and redirection -->
<script src="/static/js/filter.js"></script>
{% endblock %}
