{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}

<div class="container">
  <div>
    <div id="text_border">
      <h1 class="font_italic">StreamStory</h1>
    </div>
    <p id="intro_para">
      A look through the years at your Spotify streaming history.
    </p>
  </div>

  <div class="container2">
    <div class="flexdiv1">
      <h2 class="heading2">How it works:</h2>

      <p class="explanation">
        1) Request your "Extended History" from Spotify
        <a
          href="https://www.spotify.com/us/account/privacy"
          target="_blank"
          class="green"
          >here</a
        >.
      </p>

      <p class="explanation">
        2) Spotify will email you a zip file with your data within 5-7 days.
      </p>

      <p class="explanation">3) Drag and drop your files.</p>
    </div>

    <form
      class="flexdiv2"
      id="uploadForm"
      enctype="multipart/form-data"
      method="post"
    >
      <div id="drop-area" class="drop_area">
        <input
          type="file"
          id="fileInput"
          name="file"
          style="display: none"
          accept=".json"
          multiple
        />
        <input
          type="file"
          id="fileInput2"
          name="file2"
          style="display: none"
          accept=".json"
          multiple
        />
        Drag & Drop Files Here or
        <a class="pointer" id="browseButton">Browse</a>
      </div>
    </form>
  </div>

  <div id="file-list" class="file_list">
    <h2 class="heading">Your files:</h2>
  </div>
  <div style=" margin-bottom: 25px; justify-content: center; align-items: center">
    <button id="submitBtn" class="pointer">
      Submit
      <span style="color: black; font-size: 20px; margin-left: 4px">→</span>
    </button>
  </div>

  <script src="/static/js/index.js"></script>

  {% endblock %}
</div>
