{% extends "layout.html" %} {% block title %} Page {% endblock %} {% block main
%}
<div class="container"></div>
<ul>
    {% for playlist in playlists %}

        <li class="twosec_font_fade">
            
            <a class="uri" href="{{ playlist['name'] }}">
                <img src="{{ playlist['cover'] }}" alt="artist_pic" class="image_result"> 
            </a>  {{ playlist['name'].upper() }}
            <br>
        </li>

    {% endfor %}

    
</ul>
</div>
<script defer src="/static/js/results.js"></script>



{% endblock %}
